<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Flypur</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link href='http://fonts.googleapis.com/css?family=Roboto'
	rel='stylesheet' type='text/css' />

<!-- use the font -->
<style>
body {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
}
</style>
</head>
<body style="margin: 0; padding: 0;">

	<table align="center" border="0" cellpadding="0" cellspacing="0"
		width="600" style="border-collapse: collapse;">
		<tr>
			<td align="left" bgcolor="#FFFFFF" style="padding: 40px 0 30px 0;">
				<img alt="http://www.flypur.com" style="display: block;" src="cid:flypurmaillogo" />
			</td>
		</tr>
		<tr>
			<td bgcolor="#FFFFFF">
				<p th:text="${'Dear ' + name} + ','"/>
			</td>
		</tr>
		<tr>
			<td bgcolor="#FFFFFF">
				Your request to buy the item <b><label th:text="${productname}"/></b> 
				from <b><label th:text="${country}"/></b> has been offered at price 
				<b>INR <label th:text="${price}"/></b>. 
				Please review the price offered and confirm the request by making the payment at the earliest.
			</td>
		</tr>
		<tr>
			<td bgcolor="#FFFFFF">
				<p style="font-size: 14px">Thank you,<br/>Flypur Team</p>
				<p style="font-size: 12px">If you have any questions, please
					contact us at info@flypur.com</p>
			</td>
		</tr>
		<tr>
			<td bgcolor="#A49E9C">
				<p style="font-size: 8px">Flypur, Inc., © Copyright 2017 Flypur,
					Inc. All rights reserved.</p>
				<p style="font-size: 8px">Address</p>
				<p style="font-size: 8px">
					<a href="http://www.flypur.com/contactus.html">Contact Us</a> | <a
						href="http://www.flypur.com/privacypolicy.html">Privacy Policy</a>
				</p>
			</td>
		</tr>
	</table>
</body>
</html>