<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org"
  xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Flypur</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body style="margin: 0; padding: 0;">
  <table>
    <tr>
      <td align="center" bgcolor="#E8DAEF"><br/>
        <table cellpadding="0" cellspacing="0" border="0" width="720">
          <tbody>
            <tr valign="bottom">
              <td colspan="3"><img src="cid:mailtop" alt="" style="display: block;"/></td>
            </tr>
            <tr valign="middle">
              <td width="1" bgcolor="#E8DAEF"><img src="cid:leftborder" style="display: block;"/></td>
              <td width="0" align="center" bgcolor="#FFFFFF">
                <table cellpadding="0" cellspacing="0" border="0" width="720">
                  <tbody>
                    <tr valign="top">
                      <td style="font-size: 12px; font-family: Arial, sans-serif; color: #5f6062" align="left"><br/>
                        <table width="100%">
                          <tbody>
                            <tr>
                              <td align="left"><img src="cid:flypurmaillogo" alt="Flypur" style="display: block;"/></td>
                              <td style="font-size: 10px; font-family: Arial, sans-serif; color: #6d6e70" align="right">
								<a href="https://flypur.com/MyAccount" style="color: #6d6e70; text-decoration: none" target="_blank">MY ACCOUNT</a> 
								&nbsp;&nbsp;|&nbsp;&nbsp;
                                <a href="http://flypur.com/customer-service" style="color: #6d6e70; text-decoration: none" target="_blank">CUSTOMER SERVICE</a></td>
                            </tr>
                          </tbody>
                        </table>
                        <p th:text="${'Hello ' + name} + ','"/>
                        <p>
                          Congratulations and welcome to the <b>Flypur</b> Community!
                          Your account registration on <a href="https://www.flypur.com" style="color: #0075bf" target="_blank">www.flypur.com</a> is complete. 
						  You now need to <a th:href="@{'https://www.flypur.com/users/verifyEmail/'+${loginId}}" style="color: #0075bf" target="_blank">Verify your email</a> 
						  to start buying or posting trip requests. This link will be valid for 24 hours.
                        </p>
                        <p>Your registration details:</p>
                        <p th:text="${'Email: ' + userEmail}"/>
                        <p> Password: This is the password you created when you registered on the site. If you forgot your
                          password, recover it <a href="https://www.flypur.com/users/forgotpassword" style="color: #0075bf" target="_blank">here</a>.
                        </p>
                        <p>
                          Thank you,<br /> Flypur Team
                        </p>
                        <p>If you have any questions, please contact us at info@flypur.com</p> <br/>
                        </td>
                    </tr>
					<tr>
					  <td width="0" align="center" bgcolor="#FFFFFF">
						<table cellpadding="0" cellspacing="0" border="0" width="100%">
						  <tbody>
							<tr valign="top">
							  <td style="font-size: 12px; font-family: Arial, sans-serif; color: #5f6062" align="center" bgcolor="#F4ECF7">
								<p>
								  Flypur, Inc., © Copyright 2017 Flypur, Inc. All rights reserved.<br /> Address<br /> <a
									href="http://www.flypur.com/contactus.html">Contact Us</a> | 
									<a href="http://www.flypur.com/privacypolicy.html">Privacy Policy</a>
								</p>
							  </td>
							</tr>
						  </tbody>
						</table>
					  </td>
					</tr>
                  </tbody>
                </table>
              </td>
              <td width="1" bgcolor="#E8DAEF"><img src="cid:rightborder" style="display: block;"/></td>
            </tr>
            <tr valign="top">
              <td colspan="3"><img src="cid:mailbottom" alt="" style="display: block;"/></td>
            </tr>
          </tbody>
        </table> <br/></td>
    </tr>
  </table>
</body>
</html>